# Logistic Regression using spam.csv file

In [1]:
import pandas as pd
import numpy as np
import os
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.metrics import roc_auc_score,confusion_matrix,precision_score,recall_score,accuracy_score
import chardet
from gensim import parsing
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv("C:/Users/heman/Downloads/datasets/datasets/kaggle_email_spam/spam.csv",encoding = ('ISO-8859-1'))

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.isna().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [5]:
df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'], axis=1, inplace=True)

In [6]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [8]:
df.columns = ["Category","Content"]

In [9]:
df["Category"]=df.Category.map({'ham':0,'spam':1})

In [10]:
df.head()

   Category                                            Content
0         0  Go until jurong point, crazy.. Available only ...
1         0                      Ok lar... Joking wif u oni...
2         1  Free entry in 2 a wkly comp to win FA Cup fina...
3         0  U dun say so early hor... U c already then say...
4         0  Nah I don't think he goes to usf, he lives aro...

In [11]:
dataset=df.values

In [12]:
np.random.shuffle(dataset)

In [13]:
X = dataset[:,1]
Y = dataset[:,0]
Y= Y.astype('int32')

In [14]:
for i in range(X.shape[0]):
    X[i] = parsing.stem_text(X[i].lower())

In [15]:
vectorizer = CountVectorizer()
X_transformed = vectorizer.fit_transform(X)

In [16]:
X_train = X_transformed[0:4000,:]
Y_train = Y[0:4000]
X_test = X_transformed[4000:,:]
Y_test = Y[4000:]

In [17]:
X_train.shape

(4000, 8264)

In [18]:
def print_metrics(Y_true, Y_predicted):
    print("Accuracy Score :" + str(accuracy_score(Y_true,Y_predicted)))
    print("Precision Score :" + str(precision_score(Y_true,Y_predicted)))
    print("Recall Score :" + str(recall_score(Y_true,Y_predicted)))
    print("ROC AUC Score :" + str(roc_auc_score(Y_true,Y_predicted)))
    print("Confusion Matrix : \n")
    print(confusion_matrix(Y_true,Y_predicted))

In [19]:
model = LogisticRegression()

In [20]:
model.fit(X_train,Y_train)

LogisticRegression()

In [21]:
Y_predicted_LG = model.predict(X_test)

In [22]:
Accuracy_training = metrics.accuracy_score(Y_predicted_LG, Y_test)
Accuracy_training

0.9847328244274809

In [23]:
print_metrics(Y_test,Y_predicted_LG)

Accuracy Score :0.9847328244274809
Precision Score :0.99
Recall Score :0.9
ROC AUC Score :0.9492603550295858
Confusion Matrix :

[[1350    2]
 [  22  198]]

In [24]:
Y_train_predicted = model.predict(X_train)

In [25]:
Train_accuracy = metrics.accuracy_score(Y_train_predicted,Y_train)

In [26]:
Train_accuracy

0.99675

In [27]:
print_metrics(Y_train_predicted,Y_train)

Accuracy Score :0.99675
Precision Score :0.9753320683111955
Recall Score :1.0
ROC AUC Score :0.9981353987378084
Confusion Matrix :

[[3473   13]
 [   0  514]]