In [44]:
import pandas as pd
import numpy as np

from nltk.stem import WordNetLemmatizer

df = pd.read_csv('../datasets/phishing_emails_kaggle/Phishing_Email.csv')
df.head()

,Unnamed: 0,Email Text,Email Type
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email
1,1,the other side of * galicismos * * galicismo *...,Safe Email
2,2,re : equistar deal tickets are you still avail...,Safe Email
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email

In [45]:
df.shape

(18650, 3)

In [46]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

                                          Email Text      Email Type
0  re : 6 . 1100 , disc : uniformitarianism , re ...      Safe Email
1  the other side of * galicismos * * galicismo *...      Safe Email
2  re : equistar deal tickets are you still avail...      Safe Email
3  \nHello I am your hot lil horny toy.\n    I am...  Phishing Email
4  software at incredibly low prices ( 86 % lower...  Phishing Email

In [47]:
df.isna().sum()

Email Text    16
Email Type     0
dtype: int64

In [48]:
df = df.dropna()
print(df.isna().sum())
df.shape

Email Text    0
Email Type    0
dtype: int64

(18634, 2)

In [49]:
df.columns = ["Content","Category"]

In [50]:
df["Category"] = df.Category.map({'Safe Email':0,'Phishing Email':1})
df.head()

                                             Content  Category
0  re : 6 . 1100 , disc : uniformitarianism , re ...         0
1  the other side of * galicismos * * galicismo *...         0
2  re : equistar deal tickets are you still avail...         0
3  \nHello I am your hot lil horny toy.\n    I am...         1
4  software at incredibly low prices ( 86 % lower...         1

In [51]:
dataset = df.values
np.random.shuffle(dataset)

In [53]:
X = dataset[:,0]
Y = dataset[:,1]
Y= Y.astype('int32')

In [ ]:
from url_extraction import separate_email

lemmatizer = WordNetLemmatizer()
for i in range(X.shape[0]):
    content = separate_email(X[i], "spam.csv")[0]
    X[i] = (" ").join([lemmatizer.lemmatize(word.lower(), pos='v') for word in content.split(" ")])