In [2]:
import pandas as pd

df = pd.read_csv('../datasets/phishing_emails_kaggle/Phishing_Email.csv')
df.head()

,Unnamed: 0,Email Text,Email Type
0,0,"re : 6 . 1100 , disc : uniformitarianism , re ...",Safe Email
1,1,the other side of * galicismos * * galicismo *...,Safe Email
2,2,re : equistar deal tickets are you still avail...,Safe Email
3,3,\nHello I am your hot lil horny toy.\n I am...,Phishing Email
4,4,software at incredibly low prices ( 86 % lower...,Phishing Email

In [3]:
df.shape

(18650, 3)

In [4]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df.head()

                                          Email Text      Email Type
0  re : 6 . 1100 , disc : uniformitarianism , re ...      Safe Email
1  the other side of * galicismos * * galicismo *...      Safe Email
2  re : equistar deal tickets are you still avail...      Safe Email
3  \nHello I am your hot lil horny toy.\n    I am...  Phishing Email
4  software at incredibly low prices ( 86 % lower...  Phishing Email

In [12]:
df1 = df[df.isna().any(axis=1)]
df2 = df1.dropna()
df2.isna().sum()

Email Text    0
Email Type    0
dtype: int64